.header-container {
  width: 100vw;
}

.header-background-div {
  width: 100vw;
  /* border: 2px solid red; */
  background-color: #303030;
  position: fixed;
  z-index: 4;
  height: 60px;
  box-shadow: 2px 1px 5px var(--clr-accent);
  opacity: 0.9;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 60px;
  width: 100vw;
  /* border: 2px solid red; */
  /* background-color: var(--clt-dark); */
  position: fixed;
  z-index: 5;

  box-shadow: 2px 1px 5px var(--clr-accent);
}

.header-img {
  width: 300px;
}

.header-nav-toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.header-nav-modal-btn {
  /* margin-right: 25px; */
  background-color: var(--clr-accent);
  width: 45px;
  height: 35px;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 10px;
  line-height: 30px;
  border: none;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  color: var(--clr-accent);
  font-size: 2rem;
  line-height: 30px;
  padding-right: 20px;
}

.header-nav-bar-big-srn {
  display: flex;
  gap: 5px;
}

.header-nav-btn {
  color: var(--clr-accent);
  font-size: x-large;
  border: 0;
  background-color: transparent;
  border-radius: 5px;
}

@media (min-width: 845px) {
  .header-nav-modal-btn {
    display: none;
  }
  .header-nav-toggle-div {
    padding-right: 30px;
  }
}

@media (max-width: 845px) {
  .header-nav-btn {
    display: none;
  }
}

@media (max-width: 414px) {
  .header-div {
    padding: 0;
  }
  .header-img {
    width: 250px;
  }
}
