.projects-header-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: fit-content;
  background-color: rgba(48, 48, 48, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 1px 1px 10px var(--clr-light);
}

.projects-header-img {
  width: 350px;
}

.project-header-btn-div {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.projects-header-nav-btn {
  width: 150px;
  font-size: larger;
  padding: 5px;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  color: var(--clr-light);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.projects-header-nav-btn:hover {
  box-shadow: 2px 4px 10px var(--clr-light);
}

.toggle-btn {
  margin: 0px;
}

/* @media (max-width: 469px) {
  .projects-header-div {
    justify-content: center;
    height: 100px;
  }
  .projects-header-container {
    height: 105px;
    box-shadow: 2px 2px 2px var(--clr-light);
  }
  .toggle-btn {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .projects-header-img {
    width: 350px;
  }
} */
