*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: #fff;
  --clr-medium: #808080;
  --clt-dark: #303030;
  --clr-dark-rgb: rgba(48, 48, 48, 0.9);
  --clr-accent: #ffae03;
  --clr-main-text: #fff;
  --clr-alt-text: #fff;

  --title-font-size: 2rem;
}

.light-theme {
  --clr-light: #fff;
  --clr-medium: ##fff;
  --clt-dark: #e0e0e0;
  --clr-dark-rgb: rgba(224, 224, 224, 0.9);
  --clr-accent: #ffae03;
  --clr-main-text: #303030;
  --clr-alt-text: #303030;
}

body {
  box-sizing: border-box;
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
}
